name: Node.js Tests
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '20', '22', '24' ]
    name: Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v5
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: npm ci
      - run: npm test
  build:
    runs-on: ubuntu-latest
    name: Check build and format have been run
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm run format
      - run: npm run build
      - name: Fail if files changed
        id: file-changed
        run: |
          if [[ `git status --porcelain` ]]; then
            git status --porcelain
            git diff
            exit 1
          else
            exit 0
          fi
      - name: Generate token
        if: ${{ failure() && steps.file-changed.conclusion == 'failure' }}
        id: generate_token
        uses: tibdex/github-app-token@v2.1.0
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: "Re-setup repo with token"
        if: ${{ failure() && steps.file-changed.conclusion == 'failure' }}
        uses: actions/checkout@v5
        with:
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0
      - name: Set git user config
        if: ${{ failure() && steps.file-changed.conclusion == 'failure' }}
        run: git config user.email "217586+NodeBuilder[bot]@users.noreply.github.com" && git config user.name "Node Builder"
      - name: Fix missing build
        if: ${{ failure() && steps.file-changed.conclusion == 'failure' }}
        run: git checkout ${{ github.event.pull_request.head.ref }} && npm ci && npm run format && npm run build && git add --all && git commit -m "npm run build" && git push
